td.render_label{
	width:180px;	
	vertical-align:top;	
	background-color:#7db9e8;
	font-weight:bold;
}
td.reg_colon{
	width:10px;
	vertical-align:top;
	background-color:#7db9e8;
	font-weight:bold;
	display:none;
}
div.div_table{
	padding:2px 5px 5px 10px;	
}
table.reg_details{
	border:solid 1px #999999;	
	width:100%;
	border-collapse: separate;   
	border-spacing: 1px; 	
}
table.reg_details td{
	padding:3px 5px 3px 5px;
}
table.reg_details tr:nth-child(2n+1) {
  background-color: #DEDEDE;
}